html { 
  background: url("https://cdn.glitch.com/053fe621-4514-4f01-bad1-5e5c595497e7%2Fheartgrey.jpg?1507940972271") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Caveat', cursive;
  font-size: 13px;
  color: #ffffff;
  /*background-image: url("https://cdn.glitch.com/053fe621-4514-4f01-bad1-5e5c595497e7%2Fheartgrey.jpg?1507940972271");*/
}

h2 {
  color: #f442c5;
  font-size: 32px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
}

h3 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

label {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 0px;
   font-family: 'Anton', sans-serif;
  color:#f442c5;
  text-align: center;
  font-size: 20px;
}
#text{
  font-family: 'Anton', sans-serif;
  color:#ffffff;
  text-align: center;
  font-size: 20px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.error {
  display: none;
  color: #C23628;
  margin: 5px 0px;
}

.success {
  color: #7AB55C;
  margin: 5px 0px;
}

.input-container {
  display: flex;
  width: 100%;
}

.green-line {
  border: 1px solid #f442c5;
  width: 100%;
  margin: auto;
}

.input-box {
  border: 1px solid #A7A7A7;
  padding: 15px;
  border-radius: 3px 0px 0px 3px;
  flex-grow: 1;
}

.button {
  background-color: #f442c5;
  border: 1px solid #f442c5;
  border-radius: 0px 3px 3px 0px;
  padding: 15px;
  color: #ffffff;
  width: 150px;
}